body {
  font-family: "Noto Sans", sans-serif;
  margin: 5px;
  padding: 5px;
  background-color: #f4edd3;
  color: #0c0c0c;
}

.page::-webkit-scrollbar {
  height: 0px;
  width: 5px;
  /* width of the entire scrollbar */
}

.page::-webkit-scrollbar-track {
  background: #efe5bf;
  /* color of the tracking area */
}

.page::-webkit-scrollbar-thumb {
  background-color: #f9f5e7;
  /* color of the scroll thumb */
  border-radius: 50px;
  /* roundness of the scroll thumb */
  border: none;
  /* creates padding around scroll thumb */
}

.page {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  overflow: auto;
}

div {
  margin: 20px;
  padding: 5px;
  position: relative;
}

.create-acc {
  position: relative;
  margin: 10px;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.create-acc p {
  text-align: center;
}

a, a:visited {
  text-decoration: none;
  color: #e46837;
  font-weight: bold;
}

a:hover {
  -webkit-text-decoration: underline solid #e46837;
          text-decoration: underline solid #e46837;
}

.center-stage {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login {
  position: relative;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: inline-block;
  width: 60px;
}

.login-form {
  width: 300px;
  height: 250px;
}

.login-form input {
  float: right;
}

.login-form label {
  top: 17%;
}

form {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 10px;
  max-width: 850px;
}

form label {
  margin: 5px;
  display: block;
  top: 15%;
  position: relative;
  height: 30px;
}

form input {
  height: 20px;
  margin: 5px;
  display: inline-block;
}

form p {
  text-align: center;
}

.content {
  position: relative;
  font: 14px "Noto Sans", sans-serif;
  width: 800px;
  height: 600px;
  margin: 10px;
  padding: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 15%);
          transform: translate(-50%, 15%);
}

.submit {
  position: relative;
  height: auto;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 20%;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  border: 4px solid #e46837;
  color: #e46837;
  padding: 8px;
  text-align: center;
  text-decoration: none;
}

.submit:hover {
  -webkit-transition: all .35s ease-Out;
  transition: all .35s ease-Out;
  color: #ed3061;
  border-color: #ed3061;
}

nav {
  position: relative;
  top: 0%;
  right: 0%;
  margin: 0px;
  padding: 10px;
  text-align: right;
}

nav span {
  margin: 0 10px;
}

.message {
  color: #23d372;
  margin: 5px;
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

#tasks-header {
  color: #e46837;
  margin: 100px 0 0 20px;
}
/*# sourceMappingURL=styles.css.map */