$bkgd:#f4edd3;
$accent1:#e46837;
$accent2:#ed3061;
$text:#0c0c0c;
$white-bkgd:rgba(256,256,256,0.9);

body {
    font-family: "Noto Sans", sans-serif;
    margin:5px;
    padding:5px;
    background-color:$bkgd;
    color:$text;
}

.page::-webkit-scrollbar {
    height: 0px;
    width: 5px;               /* width of the entire scrollbar */
}
  
.page::-webkit-scrollbar-track {
    background: darken($bkgd,5%);        /* color of the tracking area */
}
  
.page::-webkit-scrollbar-thumb {
    background-color:lighten($bkgd,5%);    /* color of the scroll thumb */
    border-radius: 50px;       /* roundness of the scroll thumb */
    border: none;  /* creates padding around scroll thumb */
}

.page {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    overflow:auto;
}

div {
    margin:20px 0;
    position:relative;
}

.create-acc {
    position:relative;
    margin:10px;
    top:25%;
    left:50%;
    transform: translate(-50%);
    
    p {
        text-align: center;
    }
}

a, a:visited {
    text-decoration: none;
    color: $accent1;
    font-weight:bold;
}

a:hover {
    text-decoration: underline solid #e46837;
}

.center-stage {
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);    

}

.login {
    position:relative;
    top:40%;
    left:50%;
    transform: translate(-50%);
    display:inline-block;
    width:60px;
}

.login-form {
    width:300px;
    height:250px;
    input {
        float:right;
    }
    label {
        top:17%;
    }
}

form {
    position:relative;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    margin:10px;
    max-width: 850px;
    
    label {
        margin: 5px;
        display: block;
        top: 15%;
        position: relative;
        height: 30px;
    }

    input {
        height: 20px;
        margin: 5px;
        display: inline-block;
    }

    p {
        text-align: center;
    }
}

.content {
    position: relative;
    font: 14px "Noto Sans", sans-serif;
    width: 800px;
    height: 600px;
    margin: 10px;
    padding: 10px;
    left: 50%;
    transform: translate(-50%,15%);
}

$button:$accent1;
$hover:$accent2;

.submit {

    position: relative;
    height: auto;
    left:50%;
    transform:translate(-50%);
    top:20%;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    border: 4px solid $button;
    color: $button;
    padding: 8px;
    text-align: center;
    text-decoration: none;
}

.submit:hover {
    transition: all .35s ease-Out;
    color:$hover;
    border-color:$hover;
}

nav {
    position:relative;
    top:0%;
    right:0%;
    margin:0px;
    padding:10px;
    text-align: right;

    span {
        margin: 0 10px;
    }
}

.message {
    color:rgb(35, 211, 114);
    margin:5px;
    text-align:center;
    position:absolute;
    left:50%;
    transform: translate(-50%);
}

#tasks-header {
    text-align: center;
    color:$accent1;
    margin:20px 0 0 0px;
}

.username {
    color:$accent1;
    padding:5px;
    h1 {
        font-size: 60px;
        text-align: center;
        text-transform: uppercase;
    }
}

.list-tasks {
    padding:20px 50px;
    background-color:lighten($bkgd,8%);
    width:400px;
    font-size: 20px 0;
    left:50%;
    transform: translate(-50%);
}

.add-task {
    display:block;
    position:relative;
    top:30px;
    margin:0;
}