{% extends "agenda/layout.html" %}
{% load static %}

{% block title %}
    To-Do List
{% endblock %}

{% block body %}
<div class='page'>
    <nav>
        <span><a href="{% url 'logout' %}">Log Out</a></span>
    </nav> 
    <div class='username'>
        <h1>{{username}}'s Agenda</h1>
    </div>
    
    <div class='list-tasks'>
        <h1 id='tasks-header'>Tasks</h1>
        <ul>
            {% for i in tasks %}
                <li><input type='checkbox' name={{i}} value='{{i}}' class='task-btn'/>
                <label for='{{i}}'>{{i}}</label></li>
                {% empty %}
                <li>You don't have any tasks yet.</li>
            {% endfor %}
            <form class='add-task' method='POST' action=''>
                {% csrf_token %}
                <input type='hidden' name='tasks' value="{{tasks}}">
                <li><input type='text' class='add-task-input' name='task' placeholder="Add task">
                <input class='add-button' type='submit' value='+' name='Add Task'></li>
            </form>
        </ul>
    </div> 
</div>
{% endblock %}