{% extends "agenda/layout.html" %}

{% block title %}
    Create Account
{% endblock %}

{% block body %}
<div class='page'>
    {% for message in messages %}
        <p class='message'>{{message}}</p>
    {% endfor %}
    <form method="POST"action="" class='login-form'>
        {% csrf_token %}
        {% for field in form %}
            <label>{{field.label}}</label>
            {{field}}
        {% endfor %}
        
        <input class='submit' style='left:-30%;top:10%;transform:translate(0)' type="submit" value="register" name="Create User">

    </form>

    <a class='login'href='{% url "login" %}'>Log In</a>

</div>
{% endblock %}